<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Correos Yuri</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Empleados
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/empleados">Mostrar todos los empleados</a></li>
                    <li><a class="dropdown-item" href="/api/empleados/registrar">Registrar empleado</a></li>
                    <li><a class="dropdown-item" href="/api/empleados/search">Buscar empleado</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Cargas Familiares
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/cargas">Mostrar todas las cargas</a></li>
                    <li><a class="dropdown-item" href="/api/cargas/registrar">Registrar cargas</a></li>
                    <li><a class="dropdown-item" href="/api/cargas/search">Buscar cargas</a></li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Contactos de emergencia
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/contactos">Mostrar todos los contactos</a></li>
                    <li><a class="dropdown-item" href="/api/contactos/registrar">Registrar contactos</a></li>
                    <li><a class="dropdown-item" href="/api/contactos/search">Buscar Contacto</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/session/logout">Cerrar Sesión</a>
            </li>

        </ul>
    </div>
</nav>

<h1>Cargas Familiares</h1>
<br>
<table id="productsTable" class="table table-striped">
    <tr>
        <td><strong>Rut empleado</strong></td>
        <td><strong>Nombre carga</strong></td>
        <td><strong>Parentesco</strong></td>
        <td><strong>Genero</strong></td>
        <td><strong>Rut carga</strong></td>
    </tr>
    {{#each data.docs}}
    <tr>
        <td>{{this.rut_empleado}}</td>
        <td>{{this.nombre_carga}}</td>
        <td>{{this.parentesco}}</td>
        <td>{{this.genero}}</td>
        <td>{{this.rut_carga}}</td>
    </tr>
    {{/each}}
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item {{#if data.hasPrevPage}}{{else}}disabled{{/if}}">
            <a class="page-link" href="/cargas?page={{data.prevPage}}">Anterior</a>
        </li>
        {{#each front_pagination}}
        <li class="page-item {{#if this.active}}active{{/if}}">
            <a class="page-link" href="/cargas?page={{this.page}}">{{this.page}}</a>
        </li>
        {{/each}}
        <li class="page-item {{#if data.hasNextPage}}{{else}}disabled{{/if}}">
            <a class="page-link" href="/cargas?page={{data.nextPage}}">Siguiente</a>
        </li>
    </ul>
</nav>
<div id="moving"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
